*{
    font-family: 'Roboto', sans-serif;
    color:white;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to left, slateblue,dodgerblue);
}

ul{
    display:flex;
    flex-direction: row;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    margin:0 20px;
    font-size:22px;
}


a:hover{
    border-bottom: 2px solid white;
    transition: 0.2s;
}

div{
    margin-top:50px;
}

img{
    border-radius:20px;
    box-shadow: 0px 0px 10px 0px black;
}

h1{
    text-align: center;
}

div ul{
    display:flex;
    flex-direction: column;
}

div ul li{
    text-align: center;
    font-size:22px;
    margin:10px;
    padding:10px 20px;
    border:2px solid white;
    border-radius:10px;
    background:transparent;
    color:white;
}

div ul li:hover{
    background:white;
    color:dodgerblue;
    transition: 0.3s;
}